<main class="login-page">
    <section class="login-card">
        <form (ngSubmit)="onSubmit()" class="login-form">
            <h2>Login</h2>
            <div>
                <label for="username">Username:</label>
                <input type="text" id="username" [(ngModel)]="username" name="username" required>
            </div>
            <div>
                <label for="password">Password:</label>
                <input type="password" id="password" [(ngModel)]="password" name="password" required>
            </div>
            <div *ngIf="error" class="error-message">
                {{ error }}
            </div>
<div></div><button type="submit" (click)="onSubmit()">Login</button>
        </form>
    </section>
</main>
<!-- <div class="login-container">
    <h2>Login</h2>
    <form (ngSubmit)="onSubmit()">
        <div>
            <label for="username">Username:</label>
            <input type="text" id="username" [(ngModel)]="username" name="username" required>
        </div>
        <div>
            <label for="password">Password:</label>
            <input type="password" id="password" [(ngModel)]="password" name="password" required>
        </div>
        <button type="submit">Login</button>
    </form>
    <div *ngIf="error" class="error-message">
        {{ error }}
    </div>
</div> -->